extends layout

block content
  h1= title

  ul
    each book in book_list
      li
        a(href=book.url) #{book.title}
        |  (#{book.author.name})

    else
      li There are no books.

  //- .container
  //- ul.pagination
  //-   while n < page_count+1
  //-   li
  //-     a(href=`/catalog/book?page=${n}&limit=20`)=n++

  //- Pagination
  mixin pagination(amount, active, ellipsis, last, arrows)
    //- amount - amount of displayed numbers +1 prior ellipsis
    //- active - active number
    //- ellipsis - number to be replaced by ellipsis
    //- last - number after ellipsis
    //- .icon-pagination-prev and .icon-pagination-next
    .pagination
        //- prev arrow
        if (arrows === arrows)
            a(href=`/catalog/books?page=${index}&limit=20` title="Prev page").pagination__prev.icon-pagination-prev ◀
        else

        ul.pagination__list
            //- before ellipsis
            - for (var index = 1; index <= amount; index++)
                if (index === active)
                    li.pagination__item.is-active
                        a(href=`/catalog/books?page=${index}&limit=20` title="Current page #{index}").pagination__number= index
                else if (index === ellipsis)
                    li.pagination__item
                        a(href=`/catalog/books?page=${index}&limit=20` title="Show more").pagination__number.is-collapsed ...
                else
                    li.pagination__item
                        a(href=`/catalog/books?page=${index}&limit=20` title="Go to page #{index}").pagination__number= index
            //- after ellipsis
            - for (var index = amount + 1; index <= last; index++)
                li.pagination__item
                    a(href=`/catalog/books?page=${index}&limit=20` title="Go to pagе #{index}").pagination__number= index

        //- next arrow
        if (arrows === arrows)
            a(href=`/catalog/books?page=${index}&limit=20` title="Next page").pagination__next.icon-pagination-next ▶
        else


  +pagination(5, 3, 4, 9, arrows)
